* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Helvetica Neue", sans-serif;
  color: #fff;
}

html,
body {
  height: 100%;
  width: 100%;
}
html {
  font-size: clamp(14px, 1vw, 18px);
}
body {
  background-color: rgb(18, 18, 18);
}

@mixin mymixin($gap: 0rem) {
  width: 100%;
  display: flex;
  flex-direction: column;
}
section {
  max-width: 2000px;
}

main {
  @include mymixin(0rem);
  align-items: center;

  section.view1 {
    @include mymixin(1rem);
    padding: 1rem;
    .top {
      width: 100%;

      img {
        width: 100%;
        border-radius: 10px;
      }
    }

    .bottom {
      background-color: #1e1e1e;
      padding: 1.5rem;
      border-radius: 0.7rem;
      @include mymixin(1rem);

      .text {
        @include mymixin(0.5rem);

        h1 {
          font-weight: 100;
          font-style: normal;
          text-transform: uppercase;
          color: #f4f2ed;
        }
        p {
          font-weight: 100;
          font-size: 1rem;
          line-height: 2rem;
          color: #9e9d9a;
        }
        .arrow {
          display: flex;
          align-items: center;
          gap: 10px;
          font-size: 0.5rem;
          cursor: pointer;
        }
        button {
          color: white;

          background-color: #1e1e1e;
          width: fit-content;
        }
      }
    }
  }
  section.view2 {
    @include mymixin(1rem);
    width: 100%;
    padding: 1rem;

    .top,
    .bottom {
      display: flex;
      width: 100%;
      justify-content: space-around;

      .element {
        text-align: center;
        @include mymixin(0.5rem);

        small {
          opacity: 0.5;
        }
        h2 {
          font-size: 3rem;
          font-weight: 300;
        }
      }
    }
  }
  section.view3 {
    width: 100%;
    padding: 1rem;
    @include mymixin(1rem);

    .top {
      width: 100%;

      img {
        width: 100%;
        border-radius: 0.7rem;
      }
    }
    .bottom {
      background-color: #1e1e1e;
      padding: 1.5rem;
      border-radius: 0.7rem;
      @include mymixin(1rem);
      .text {
        @include mymixin(0.5rem);

        h1 {
          font-weight: 100;
          font-style: normal;
          text-transform: uppercase;
          color: #f4f2ed;
        }
        p {
          font-weight: 100;
          font-size: 1rem;
          line-height: 2rem;
          color: #9e9d9a;
        }
      }
    }

    .bottom > p {
      text-transform: uppercase;
      margin-bottom: 4rem;
    }
  }
  section.view4 {
    width: 100%;
    padding: 1rem;
    @include mymixin(1rem);

    .top {
      width: 100%;

      img {
        width: 100%;
        border-radius: 0.7rem;
      }
    }
    .bottom {
      background-color: #1e1e1e;
      padding: 1.5rem;
      border-radius: 0.7rem;
      @include mymixin(1rem);
      .text {
        @include mymixin(0.5rem);

        h1 {
          font-weight: 100;
          font-style: normal;
          text-transform: uppercase;
          color: #f4f2ed;
        }
        p {
          font-weight: 100;
          font-size: 1rem;
          line-height: 2rem;
          color: #9e9d9a;
        }
      }
    }

    .bottom > p {
      text-transform: uppercase;
      margin-bottom: 4rem;
    }
  }
  span {
    width: 100%;
    font-size: 2rem;
    font-weight: 100;
    display: flex;
    justify-content: start;
    padding: 1rem;

    padding-left: 2rem;
  }

  section.view5 {
    @include mymixin(2rem);
    gap: 2rem;
    width: 100%;
    padding: 1rem;

    .card:nth-child(2) {
      background-image: url("./girlsmiling");
    }
    .card:nth-child(3) {
      background-image: url("./boystanding");
    }

    .card {
      width: 100%;
      background-image: url(./girlstanding);
      aspect-ratio: 1/1;
      background-size: cover;
      border-radius: 0.7rem;

      @include mymixin(0rem);
      justify-content: space-between;
      padding: 1rem;

      .icon,
      .bottom {
        background-color: #2c2825;
        backdrop-filter: blur(20px);
        border: 1px solid rgb(124, 117, 117);
        border-radius: 0.7rem;
        padding: 0.5rem;
        cursor: pointer;
        font-size: large;
        background-color: transparent;
      }
      .top {
        display: flex;
        gap: 1rem;
        justify-content: flex-end;
      }
      .icon {
        width: fit-content;
        border-radius: 50%;
      }
      .bottom {
        display: flex;
        justify-content: space-between;
        padding: 2rem 1rem;

        p {
          text-transform: uppercase;
          // padding: 1.5rem;
        }
      }
    }
  }

  section.view6 {
    width: 100%;
    padding: 1rem;
    @include mymixin(1rem);

    .top {
      width: 100%;

      img {
        width: 100%;
        border-radius: 0.7rem;
      }
    }
    .bottom {
      background-color: #1e1e1e;
      padding: 1.5rem;
      border-radius: 0.7rem;
      @include mymixin(1rem);
      .text {
        @include mymixin(0.5rem);

        h1 {
          font-weight: 100;
          font-style: normal;
          text-transform: uppercase;
          color: #f4f2ed;
        }
        p {
          opacity: 0;
        }
      }
    }

    .bottom > p {
      text-transform: uppercase;
      margin-bottom: 4rem;
    }
  }
  section.view7 {
    display: flex;
    flex-direction: column;
    width: 92%;
    background-color: #cebd63;
    border-radius: 0.5rem;
    padding: 2rem;

    small {
      text-transform: uppercase;
      color: #1a1a1a;
      font-size: 13px;
    }
    h1 {
      text-transform: uppercase;
      color: #1a1a1a;
      font-weight: 300;
      margin-bottom: 1rem;
      margin-top: 1rem;
      font-size: 3rem;
    }
    button {
      background-color: #121212;
      text-transform: uppercase;
      border-radius: 0.5rem;
      padding: 1rem 1rem;
      cursor: pointer;

      i {
        font-size: 20px;
      }
    }
  }
}

@media (min-width: 900px) {
  main {
    section.view1 {
      flex-direction: row;
      padding: 1rem 4rem;
      .top,
      .bottom {
        width: 50%;
      }
      .bottom {
        justify-content: space-between;
        padding: 3rem;
      }
      .text {
        h1 {
          font-size: 3.5rem;
        }
      }
    }
    section.view2 {
      flex-direction: row;
      padding: 1rem 4rem;
    }
    section.view3 {
      flex-direction: row-reverse;

      .top,
      .bottom {
        width: 50%;
      }
      .bottom {
        justify-content: space-between;
        padding: 3rem;
        .paragraphs {
          display: flex;
          gap: 2rem;
        }
        .text {
          h1 {
            text-transform: uppercase;
            font-weight: 300;
            margin-bottom: 2rem;
          }
        }
      }
    }
    section.view4 {
      flex-direction: row;

      .top,
      .bottom {
        width: 50%;
      }
      .bottom {
        justify-content: space-between;
        padding: 3rem;
        .paragraphs {
          display: flex;
          gap: 2rem;
        }
        .text {
          h1 {
            text-transform: uppercase;
            font-weight: 300;
            margin-bottom: 2rem;
          }
        }
      }
    }
    span {
      font-size: 3rem;
    }
    section.view5 {
      flex-direction: row;
    }
    section.view6 {
      flex-direction: row;

      .top,
      .bottom {
        width: 50%;
      }
      .bottom {
        justify-content: space-between;
        padding: 3rem;
        .paragraphs {
          display: flex;
          gap: 2rem;
          p {
            opacity: 1;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 6px;
            cursor: pointer;
          }
        }
        .text {
          h1 {
            text-transform: uppercase;
            font-weight: 300;
            margin-bottom: 2rem;
          }
        }
      }
    }
    section.view7 {
      width: 98%;
      flex-direction: row;
      justify-content: space-between;
      align-items: end;

      h1 {
        font-size: 75px;
        font-weight: 100;
      }

      button {
        padding: 12px 1rem;
        background-color: black;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 25%;
        cursor: pointer;
      }
    }
  }
}
